### **Q3) Which Gender has more consumption?**

In [13]:
SELECT gender as Gender, 
      FORMAT(AVG(Avg_Monthly_GB_Download), 'N2') [Average Monthly GB Download for all Gender] 
FROM 
    Demographics d, 
    Service s
WHERE 
    d.CustomerID = s.CustomerID
GROUP BY 
    Gender

Gender,Average Monthly GB Download for all Gender
Female,165.00
Male,131.43

**<u>Observation</u>**<span style="white-space-collapse: preserve; color: rgb(255, 255, 255); font-family: Arial, sans-serif; font-size: 14.6667px;">:</span>
**Female** is higher with average in Monthly GB DawnloadÂ  than Males.

### **Q4) Which city has higher tenure and consumption?**

<span style="font-size:10.0pt;font-family:Consolas;mso-fareast-font-family:&quot;Times New Roman&quot;;
mso-bidi-font-family:&quot;Times New Roman&quot;;color:white;mso-themecolor:background1;
mso-font-kerning:0pt;mso-ligatures:none"><br></span>

In [9]:
CREATE OR ALTER VIEW city_tenure_consumption(city, state, country, average_tenure, average_consumption)
AS
	SELECT l.city, l.state, l.country, 
           AVG(s.Tenure_in_Months) AS 'Average Tenure in Month', 
           AVG(s.Avg_Monthly_GB_Download) AS 'Average OF Consumption' 
	FROM 
        Location l, Demographics d, Service s
	WHERE 
        l.Zip_Code = d.Zip_Code AND d.CustomerID = s.CustomerID
	GROUP BY 
        l.city, l.state, l.country

GO
SELECT 
    TOP(5) city as City, 
    average_tenure [Average Tenure], 
    FORMAT(average_consumption, 'N2') [Average Consumption]
FROM
    city_tenure_consumption
ORDER BY 
    average_tenure DESC, 
    average_consumption DESC

City,Average Tenure,Average Consumption
Paris,21,177.50
Munich,19,170.00
Sydney,18,166.67
Tokyo,18,150.00
Los Angeles,17,143.75

**<u>Observation</u>**<span style="white-space-collapse: preserve; color: rgb(255, 255, 255); font-family: Arial, sans-serif; font-size: 14.6667px;">:</span>  

Â From the 5 exists Cities, Paris is the hifhest city with the average of Tenure and Consumption.

### **Q5: Does Customer with High SatisfactionScore have high consumption?**

<span style="color: var(--vscode-foreground);"><br></span>

In [12]:
WITH RankedData AS (
    SELECT 
        st.Satisfaction_Score,
        demo.CustomerID, 
        DENSE_RANK() OVER (ORDER BY ser.Avg_Monthly_GB_Download DESC) AS Gigabyte_Downloads_Dense_Rank,
        ser.Avg_Monthly_GB_Download
    FROM 
        Status st
    JOIN 
        Demographics demo ON demo.CustomerID = st.CustomerID
    JOIN 
        Service ser 
    ON 
        demo.CustomerID = ser.CustomerID
)
SELECT avg(RD.Satisfaction_Score) AS[Average of Satisfaction Score of highest Customers in Gigabyte Downloads]
from RankedData RD
WHERE 
    Gigabyte_Downloads_Dense_Rank = 1

Average of Satisfaction Score of highest Customers in Gigabyte Downloads
4

<span style="font-size: 11pt; font-family: Arial, sans-serif; color: rgb(255, 255, 255); background-color: transparent; font-style: normal; font-variant: normal; vertical-align: baseline; white-space: pre-wrap;"><span style="font-size: 11pt; background-color: transparent; font-variant-numeric: normal; font-variant-east-asian: normal; font-variant-alternates: normal; vertical-align: baseline;"><strong style="text-decoration-line: none; font-weight: 400;"></strong><b style=""><u>Observation</u></b><strong style="text-decoration-line: none; font-weight: 400;">:</strong></span></span>

<span style="font-size:11pt;font-family:Arial,sans-serif;color:#ffffff;background-color:transparent;font-weight:400;font-style:normal;font-variant:normal;text-decoration:none;vertical-align:baseline;white-space:pre;white-space:pre-wrap;"><span id="docs-internal-guid-46df8599-7fff-83df-2655-824334e1c473"><span style="font-size: 11pt; background-color: transparent; font-variant-numeric: normal; font-variant-east-asian: normal; font-variant-alternates: normal; vertical-align: baseline;">There are 5 customers with the highest Gigabyte_Downloads is 200,</span></span><br></span>

<span style="font-size:11pt;font-family:Arial,sans-serif;color:#ffffff;background-color:transparent;font-weight:400;font-style:normal;font-variant:normal;text-decoration:none;vertical-align:baseline;white-space:pre;white-space:pre-wrap;">The customers with the highest number of Gigabyte Downloads have an average of 4 in Satisfaction Score.&nbsp;</span>Â Â Â Â Â 

<span style="font-size: 11pt; font-family: Arial, sans-serif; color: rgb(255, 255, 255); background-color: transparent; font-variant-numeric: normal; font-variant-east-asian: normal; font-variant-alternates: normal; vertical-align: baseline; white-space-collapse: preserve;">As the score is from 1 to 5, then this score is a</span> <span style="font-size: 11pt; font-family: Arial, sans-serif; color: rgb(255, 255, 255); background-color: transparent; font-weight: 700; font-variant-numeric: normal; font-variant-east-asian: normal; font-variant-alternates: normal; vertical-align: baseline; white-space-collapse: preserve;">High score.</span>

In [1]:
CREATE OR ALTER PROCEDURE Average_OF_Column_And_GroupBy 
    @FirstCol NVARCHAR(20), 
    @AvgColumn NVARCHAR(20), 
    @GroupByColumn NVARCHAR(20)
AS
BEGIN
    DECLARE @SqlQuery NVARCHAR(MAX);

    SET @SqlQuery = 
        'SELECT ' + QUOTENAME(@FirstCol) + ' AS ' + QUOTENAME(@FirstCol) + ',' +
        'FORMAT(AVG(' + QUOTENAME(@AvgColumn) + '), ''N2'') AS [Average of ' + @AvgColumn + ']' +
        ' FROM Service' +
        ' GROUP BY ' + QUOTENAME(@GroupByColumn) +
        ' ORDER BY 2;';

    EXEC sp_executesql @SqlQuery;
END;

### **6) What is the average tenure of customers based on their contract type?**

In [4]:
--Call the proc named Average_OF_Column_And_GroupBy
Average_OF_Column_And_GroupBy Contract, Tenure_in_Months, Contract

Contract,Average of Tenure_in_Months
Month-to-Month,15.00
One_Year,17.00
Two_Year,21.00

**<u>Observation</u>**<span style="color: rgb(255, 255, 255); font-family: Arial, sans-serif; font-size: 14.6667px; white-space-collapse: preserve;">:</span>

<span style="font-size: 14.6667px; white-space-collapse: preserve;">The max average of time that users use the service is Two years contract.</span>

<span style="font-size: 14.6667px; white-space-collapse: preserve;">The min </span> <span style="color: rgb(255, 255, 255); font-family: Arial, sans-serif; font-size: 14.6667px; white-space-collapse: preserve;">average of time that users use the service is month to month contract.</span>

### **Q7) How does the average monthly charge vary among different payment methods?**

In [5]:
--Call the proc named Average_OF_Column_And_GroupBy
Average_OF_Column_And_GroupBy Payment_Method, Monthly_Charge, Payment_Method

Payment_Method,Average of Monthly_Charge
Credit_Card,55.00
Mailed_Check,77.08
Bank_Withdrawal,81.11

**<u>Observation</u>**<span style="color: rgb(255, 255, 255); font-family: Arial, sans-serif; font-size: 14.6667px; white-space-collapse: preserve;">:</span>

<span style="color: rgb(255, 255, 255); font-family: Arial, sans-serif; font-size: 14.6667px; white-space-collapse: preserve;">From the exists data about 30 customers,</span>

<span style="color: rgb(255, 255, 255); font-family: Arial, sans-serif; font-size: 14.6667px; white-space-collapse: preserve;">Payment by <b>bank with drawal</b> has the max average in each month, </span> <span style="color: rgb(255, 255, 255); font-family: Arial, sans-serif; font-size: 14.6667px; white-space-collapse: preserve;">the<b> credit card </b>has the min, and <b>mailes check</b> is moderate.</span>

### **Q8) Which quarter experienced the highest rate for churned customers?**

In [6]:
SELECT 
     serv.Quar AS Quarter, 
    AVG(st.Satisfaction_Score) as 'Average of Satisfaction Score for Churned Customers'
FROM
    Status st
JOIN 
    Service serv
ON 
    st.CustomerID = serv.CustomerID 
WHERE 
    st.Customer_Status = 'Churned' 
GROUP BY 
    serv.Quar
ORDER BY 
    2 DESC

Quarter,Average of Satisfaction Score for Churned Customers
1,3
2,2
4,2
3,1

**<u>Observation</u>**<span style="white-space-collapse: preserve; color: rgb(255, 255, 255); font-family: Arial, sans-serif; font-size: 14.6667px;">:</span>

<span style="white-space-collapse: preserve; color: rgb(255, 255, 255); font-family: Arial, sans-serif; font-size: 14.6667px;">Quarter 1 has the max average for the four quarter that the churned customers rate their </span> <span style="color: rgb(255, 255, 255); font-family: Consolas, &quot;Courier New&quot;, monospace; font-size: 13px; white-space: pre;">Satisfaction about the service.</span>